@model IEnumerable<LostPeople.DataServices.Models.LostModel>
@{

    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search","Home", FormMethod.Get))
{
<p>
    Прізвище: @Html.TextBox("Id")
    <input type="submit" value="Пошук" />
    
</p>
}
    <div>
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th>#</th>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    
                </tr>
            </thead>
            @foreach (var lost in Model)
            {
                <tbody>
                    
                    <tr class="table-primary">
                        <td>@lost.Id</td>
                        <td>@lost.FIRST_NAME</td>
                        <td>@lost.LAST_NAME</td>
                        
                        <td>@Html.ActionLink("Детальніше", "Details", new { id = lost.Id })</td>
                    </tr>

                </tbody>
            }

        </table>

    </div>


